{% extends 'core/base.html' %}

{% load heatmap_tools %}

{% block title %}Estudos{% endblock %}

{% block content %}

<div class="container-fluid">
    <h2 class="mt-4">
        Detalhes do Assunto: {{ assunto.titulo }}
    </h2>
    <div class="row">
        <!-- Coluna Esquerda -->
        <div class="col-md-6">
            <div class="row mt-3 h-25">
                <!-- Descrição -->
                <p>{{ assunto.descricao }}</p>
            </div>
            <div class="row h-50">
                <!-- Links -->
                <h4>Links</h4>
                {% if assunto.get_links %}
                <ul>
                    {% for link in assunto.get_links %}
                    <li><a href="{{ link.url }}" target="_blank">{{ link.nome }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                <p class="text-center">Nenhum link disponível.</p>
                {% endif %}
            </div>
            <div class="row">
                <!-- Arquivos -->
                <h4 class="h-100">Arquivos</h4>
                <a href="{% url 'estudos:visualizar_pdf' assunto_id=assunto.id %}" target="_blank" class="btn btn-primary">
                    {{ assunto.pdf_filename }}
                </a>
            </div>
        </div>

        <!-- Coluna Direita -->
        <div class="col-md-6">
            <div class="row mt-3 justify-content-center border-start border-1 border-dark p-3">
                <!-- Calendário -->
                {% render_heatmap metas %}
            </div>
        </div>
    </div>
    <div class="fixed-bottom p-3" style="pointer-events: none;">
        <a class="btn-animated w-auto" href="{% url 'estudos:home' %}" style="pointer-events: auto;">Voltar</a>
    </div>
</div>

{% endblock %}