:root {
    /* Paleta Claro */
    --color1: #14a6bd;
    --color2: #338592;
    --color3: #4296a3;
    --color4: #7bd0da;
    --color5: #f4ffff;

    /* Paleta Escuro */
    /* --color1: #160d18 ;
    --color2: #23145b ;
    --color3: #09456c ;
    --color4: #026f6e ;
    --color5: #1ca39e ; */

    --text-color: #333;
    --sidebar-width: 250px;
}

/* Reset básico */
* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    background-color: var(--color5);
    color: var(--text-color);
    font-family: sans-serif;
    display: flex;
    height: 100vh;
}

/* Barra Lateral */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: var(--sidebar-width);
    height: 100%;
    background-color: var(--color1);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    z-index: 1000; 
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar h2 { margin-bottom: 30px; }

.sidebar li {
    list-style: none;
    margin-bottom: 15px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: 0.3s;
}

.sidebar a:hover { background-color: var(--color3); }

/* Overlay */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

#overlay.active {
    opacity: 1;
    pointer-events: auto;
}

/* Buttons */
.btn-animated {
    background-color: var(--color4);
    color: var(--text-color);
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: all 0.2s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.btn-animated:hover {
    background-color: var(--color3);
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.btn-animated:active {
    transform: scale(0.75);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

/* Conteúdo Principal */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Cabeçalho */
.top-bar {
    background-color: var(--color2);
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    display: flex;
    justify-content: space-between;
}

.content-area {
    padding: 20px;
    overflow-y: auto;
}